<html><head><title>ThaiJai</title>
    <meta charset="utf-8" /> 
    <meta name="Description" content="ThaiJai"/>
    <meta name="Keywords" content="Thai jai" />
    <link rel="icon" href="/media/img/fav.ico" type="image/x-icon" />  
    <link rel="shortcut icon" href="/media/img/fav.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="eHgU0lkcl9pvegqh0lFSzQnN92r08vCQAfagCg_8-8s" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/media/css/bootstrap.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <link rel="stylesheet" href="/media/css/bootstrap-responsive.css" /> 

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5390483-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    {% block extra_head %}
    {% endblock %}

</head> 
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">ThaiJai</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Top</a></li>
              <li><a href="#">New</a></li>
              <!--
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              -->
            </ul>
            <ul class="nav pull-right">
                <li><a href="#about">admin@thaijai.com</a></li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div>
        </div>
      </div>
    </div>






    <div class="container">

        {% block content %}
        Hello, world!
        {% endblock %}

        <hr/>
        <footer>
            <p>&copy; ThaiJai.com 2013</p>
        </footer>
    </div>



  <!-- JavaScript at the bottom for fast page loading -->

  <script src="/media/js/jquery-1.8.3.min.js"></script>
  <script src="/media/js/bootstrap.min.js"></script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
 

</body>
</html>


