{% extends "base.html" %}

{% block content %}

<style>
    /*
    .navbar-fixed-top {
        margin-bottom: 20px;
    }
    */
/*
.columns {
    background: #ddd;
    border: 2px solid black;
    margin-bottom: 25px;
}
.row {
    text-align: center;
}
*/
.imgbox {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.happybox {
    /*
    background: #ddd;
    */
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    padding: 10px;
}
</style>

        <!--
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      -->


{% for row in rows %}
<div class="row">
    {% for page in row %}
    <div class="span4">
        <div class="imgbox">
            <a href="{{page.page_url}}" target="_blank">
                <img src="{{page.fixed_img_url}}"/>
            </a>
        </div>
        <div class="happybox">
            <!--
            <h2>
                Title
            </h2>
            -->
            <em>
                {{ page.added_timestamp | timedelta }}
            </em>
            <p>
            {{ page.description }}
            &nbsp;({{ page.provider_name }})
            </p>
            <div class="btn-group">
                <button class="btn btn-success" type="button">+1</button>
                <button class="btn btn-danger" type="button">-1</button>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i>Share<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                 </ul>
            </div>


        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}


{% endblock %}

